@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Nunito:wght@300;400;500;600;700&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400;500;700&display=swap');

*{ /*deixando a página padrão*/
    margin: 0;  /*distância da tag que estou usando para o exterior*/
    padding: 0; /*distância da tag que estou usando para o conteúdo dela*/
    box-sizing: border-box;
    text-decoration: none;
}


/*HEADER*/

header.img{
    overflow: hidden; /*faz com que a logo não fique maior que o background na responsividade*/
    min-width: 4rem;
}

.cabecalho{
    width:100vw; /*usar porcentagem para responsividade*/    
    background-color: rgba(31, 100, 197, 1);
    box-shadow: rgba(0, 0, 0, 0.40);
    display:flex;
    padding: 1.3125rem 3rem 1.3125rem 3rem;
    align-items: center; /*alinha a imagem e os botões no centro da header*/
    justify-content: space-between;
}

.cabecalho-logo-branca{
    width: 5rem;
    height: 6.125rem;
}

.cabecalho-menu-itens{
    list-style: none;
    color: #f2f3f4;
    display: fixed; /*faz com que a barra seja fixa*/
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 1.88rem;
}

nav a:hover{ /*passar o mouse nos itens e mudar a cor*/
    color: rgb(244,234,127);
    text-decoration: underline; 
}



/*BODY*/

body{
    overflow-x: hidden; /*tira o scroll horizontal (eixo x) */
}

/*BANNER*/

.banner{
    width: 100%;
    height: 66.625rem;
    background-image: url(assets/img/Group\ 13.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.underlined-text{
    color: #FFF;
    font-family: ubuntu, sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 5.625rem;
    font-style: normal; 
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5625rem;
    text-decoration: underline;
    text-underline-offset: 1.5rem;
    color: #E0EB4F;
    filter: brightness(80%) inherit;
    padding-top: 2rem;
}

.Ctext {
    color: white;
    z-index: 100;
}


/*NOSSOS SERVICOS*/



/*FOOTER*/
footer{
    background-color: #333;
}

.rodape{
    height: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 4.687rem;
    padding-left: 4.3rem;
}

h2{
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-size: normal;
    font-weight: 700;
    line-height: normal;
}

h5{
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    font-size: normal;
    font-weight:400;
    line-height: normal;
}

.box-footer{
    display: inline-block; /*inline-block pra colocar blocos na mesma linha*/
}

.img-footer{
    display: block; /*pra ficar uma imagem embaixo da outra*/
    padding-top: 1rem;
}

.texto-loc{
    width: 5.5rem;
    height: 4.68rem;
}


.text-contatos{
    padding-top: 1rem;
}

.text-contatos:hover{
    color: rgba(31, 100, 197, 1);
    transition: color 0.5s ease;
    text-decoration: underline;
}

.texto-rodape{
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 3.125rem;
}

.linha-rodape{
    text-align: center;
    padding-bottom: 1rem;
}


