@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Nunito:wght@300;400;500;600;700&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400;500;700&display=swap');

*{ /*deixando a página padrão*/
    margin: 0;  /*distância da tag que estou usando para o exterior*/
    padding: 0; /*distância da tag que estou usando para o conteúdo dela*/
    box-sizing: border-box;
    text-decoration: none;
}


/*HEADER*/

header.img{
    overflow: hidden; /*faz com que a logo não fique maior que o background na responsividade*/
    min-width: 4rem;
}

.cabecalho{
    width:100vw; /*usar porcentagem para responsividade*/    
    background-color: rgba(31, 100, 197, 1);
    box-shadow: rgba(0, 0, 0, 0.40);
    display:flex;
    padding: 1.3125rem 3rem 1.3125rem 3rem;
    align-items: center; /*alinha a imagem e os botões no centro da header*/
    justify-content: space-between;
}

.cabecalho-logo-branca{
    width: 5rem;
    height: 6.125rem;
}

.cabecalho-menu-itens{
    list-style: none;
    color: #f2f3f4;
    display: fixed; /*faz com que a barra seja fixa*/
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 1.88rem;
}

nav a:hover{ /*passar o mouse nos itens e mudar a cor*/
    color: rgb(244,234,127);
    text-decoration: underline; 
    transition: color 0.5s ease;
}



/*BODY*/

body{
    overflow-x: hidden; /*tira o scroll horizontal (eixo x) */
    min-width: 20rem;
    max-width: 100%;
    margin: auto;
}

body.img{
    width: 100%;
}
/*BANNER*/

.banner{
    width: 100%;
    height: 66.625rem;
    background-image: url(assets/img/Group\ 13.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.underlined-text{
    color: #FFF;
    font-family: ubuntu, sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 5.625rem;
    font-style: normal; 
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5625rem;
    text-decoration: underline;
    text-underline-offset: 1.5rem;
    color: #E0EB4F;
    filter: brightness(80%) inherit;
    padding-top: 2rem;
}

.Ctext {
    color: white;
    z-index: 100;
}


/*NOSSOS SERVICOS*/



.nossos-servicos{
    width: 100%;
    height: 39rem;
    background-image: url(assets/img/fundo-azul\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    display:block;
}

h3{
    color: #F2F3F4CC;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
}

h1{
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.0625;
    position: absolute;
}

.balao-ns{
    height: 22.5rem;
    width: 17,1875rem;
    display: flex;
    justify-content:center;
    align-items: stretch;
    padding-top: 3.125rem;
}

/*FOOTER*/
footer{
    background-color: #333;
}

.rodape{
    height: 30rem;
    display: flex; /*essa tag vai ser o elemento container do flexbox*/
    flex-direction: row;
    flex-wrap: wrap; /*faz com que o elemento vá pra baixo caso não caiba mais na mesma linha*/
    flex-flow: wrap;    
    justify-content: space-between;
    align-items: center;
    padding: 4.687rem 1rem;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 4.687rem;
    padding-left: 4.3rem;
}

.bloco-box-footer{
    flex-wrap: wrap;
    flex-grow: 3;
    display: flex;
    align-items: stretch;
}

h2{
    font-size: 2rem;
    font-weight: 700;
}

h5{
    font-size: 1.3rem;
    font-weight: 400;

}

p{
    font-size: 1.3rem;
    font-weight: 400;
}

.box-footer{
    flex: 0.0625 0.0625 18.75rem;    
    height: 1,458125rem;
    margin: 2,1875rem;
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
    overflow: hidden;
}

.img-footer{
    padding: 1rem;
    display: block;
    flex-direction: row;
}

.texto-loc{
    width: auto;
    height: auto;
    padding: 1rem;
}

.text-contatos{
    padding: 1rem;
}

.text-contatos:hover{
    color: rgba(31, 100, 197, 1);
    transition: color 0.5s ease;
    text-decoration: underline;
}

.texto-rodape{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 3.125rem;
}

.linha-rodape{
    text-align: center;
    padding-bottom: 1rem;
}

@media (max-width: 43.75rem){ /*responsividade*/
    /*HEADER*/


    /*BANNER*/
    .banner{
        height: 43.75rem;
    }

    .rodape{
        flex-direction: column;
        align-items: center;
    }

    .box-footer{
        width: 100%;
        flex: 1 1 100%;
        text-align: center;
    }

    h2 and p{
        font-size: 1.3rem;
        font-weight: 400;
    }

    h5{
        font-size: 1.3rem;
        font-weight: 400;
    }
}
